@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

body {
   font: var(--font-m);
   color: var(--primary-color);
}

.app {
   max-height: 100vh;
   padding: 15px;
   display: grid;
   grid-gap: 10px;
   background: var(--bg-color);
}

.content-page {
   display: flex;
}

.page-wrapper {
   flex-grow: 1;
   padding: 20px;
}
