.app.dark {
  --bg-color: #000000;
  --inverterd-bg-color: #ff5522;
  --primary-color: #00FF00;
  --secondary-color: #008000;
  --inverted-primary-color: #000000;
  --inverted-secondary-color: #000000;
}
