.app.dark {
  --bg-color: #0f0f0f;
  --inverterd-bg-color: #2e2e2e;
  --primary-color: #fff;
  --secondary-color: #008000;
  --inverted-primary-color: #000;
  --inverted-secondary-color: #000;
  --inverterd-black-white-color: #fff;
}
