.app.dark {
  --bg-color: #000;
  --inverterd-bg-color: #222327;
  --primary-color: #0F0;
  --secondary-color: #008000;
  --inverted-primary-color: #000;
  --inverted-secondary-color: #000;
  --inverterd-black-white-color: #fff;
}
