.app.light {
  --bg-color: #fff;
  --inverterd-bg-color: #ececee;
  --primary-color: #000;
  --secondary-color: #000;
  --inverterd-bg-color-primary-color: #0F0;
  --inverterd-bg-color-secondary-color: #008000;
  --inverterd-black-white-color: #000;
}
