.app.light {
  --bg-color: #ffffff;
  --inverterd-bg-color: #442266;
  --primary-color: #000000;
  --secondary-color: #000000;
  --inverterd-bg-color-primary-color: #00FF00;
  --inverterd-bg-color-secondary-color: #008000;
}
