.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverterd-bg-color);
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.mainLink {
  margin-right: 15px;
}

.panel {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 50px;
}

.switcherBlock {
  display: flex;
  align-items: center;
}

.lang {
  margin-left: 20px;
}
