.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverterd-bg-color);
  display: flex;
  align-items: center;
}

.links {
  margin-left: auto;
  margin-right: 15px;
}

.mainLink {
  margin-right: 15px;
}
